@import "../color-variables";

.output {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	&__label {
		color: white;
		font-weight: 400;
		font-size: 1.6rem;
		span {
			display: block;
			font-size: 1.4rem;
			color: $grayish-color-dark;
		}
	}

	&__value {
		font-size: 4.6rem;
		font-weight: 700;
		color: $primary-color;

		@media screen and (max-width: 38em) {
			font-size: 3.8rem;
		}

		@media screen and (max-width: 33em) {
			font-size: 3.4rem;
		}
	}
}
