$primary-color: hsl(172, 67%, 45%);
$primary-color-lighter: lighten(hsl(172, 67%, 45%), 25%);
$primary-color-dark: hsl(183, 100%, 15%);
$grayish-color-darker: hsl(186, 14%, 43%);
$grayish-color-dark: hsl(184, 14%, 56%);
$grayish-color-light: hsl(185, 41%, 84%);
$grayish-color-lighter: hsl(189, 41%, 97%);
$error-color: hsl(0, 45%, 65%);
